@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: improve font rendering */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
